/* ======================================
        Header
 ===================================== */
 
.navbar-brand.navbar-brand-image
{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand.navbar-brand-image img 
{
    max-height: 100%;
    width: auto;
}

.navbar
{
    margin-bottom: 0;
    border-radius: 0;
    border: 0 none;
}

/* ======================================
        Footer
 ===================================== */

#footer
{
  width: 100%;
  background-color: #f5f5f5;
  color: #777;
}


#footer-text
{
    line-height: 40px;
}

#footer-text p
{
    margin-bottom: 0;
}