/* ======================================
        Header
 ===================================== */
 
.navbar-brand.navbar-brand-image
{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand.navbar-brand-image img 
{
    max-height: 100%;
    width: auto;
}

.navbar
{
    margin-bottom: 0;
    border-radius: 0;
    border: 0 none;
}

/* ======================================
        Footer
 ===================================== */

#footer
{
  width: 100%;
  background-color: #f5f5f5;
  color: #777;
}


#footer-text
{
    line-height: 40px;
}

#footer-text p
{
    margin-bottom: 0;
}

#sidebar-left .widget,
#sidebar-right .widget {
	border: 1px solid #eee;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 10px;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
	padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
	font-size: 18px;
	margin-top: 0;
}

/* ======================================
        Main content structure
 ===================================== */
 
#main-content-wrap
{
    margin: 20px;
}

/* ======================================
        Post content images
 ===================================== */

#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6
{
    clear: both;
}

img.alignnone,
img.alignleft,
img.aligncenter,
img.alignright,
.wp-caption,
.post-thumbnail img
{
	max-width: 100%;
	height: auto;
}

.wp-caption img
{
	margin: 0 !important;
	max-width: 100%;
	height: 100%;
}

.wp-caption
{
	width: auto !important;
	text-align: center;
	background-color: #f5f5f5;
    color: #777;
}

.wp-caption-text 
{
    padding: 8px 6px;
    margin-bottom: 0;
}

img.alignleft,
.wp-caption.alignleft
{
	float: left;
	margin: 0 12px 12px 0;
}

img.alignright,
.wp-caption.alignright
{
	float: right;
	margin: 0 0 12px 12px;
}

img.aligncenter,
img.alignnone,
.wp-caption.aligncenter,
.wp-caption.alignnone
{
	display: block;
	margin: 0 auto 12px auto;
}

@media only screen and (max-width: 780px) {
	img.alignleft,
	img.alignright,
	.wp-caption.alignright,
	.wp-caption.alignleft
	{
		float: none;
		display: block;
		margin: 0 auto 12px auto;
	}
}